*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "Open Sans";
    src: url("/fonts/josefin-sans/JosefinSans-Regular.ttf") format("ttf"),
   }
   

body{
    font-family: 'JosefinSans-Regular', serif;
}

.container{
    max-width: 1224px;
    margin: 0 auto;
    padding:90px 0;
}

.box__items{
    display: flex;
    justify-content: center;
  
}

.box__item{
    margin: 20px;
    text-align: center;
}

.title{
    text-align: center;
    color:rgb(233, 42, 90);
}

.container h2{
    margin: 30px 0;
    padding: 25px;
    text-align: center;
    font-size: 70px;
    background-color: rgb(233, 42, 83);
    color: rgb(255, 255, 255);
}

.title__time{
    font-size: 25px;
    color:rgb(194, 26, 110);
    
    
}

.textEnd{
    margin: 40px 0;
    text-align: center;
    font-size: 36px;
}


